body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; 
      margin: auto;
  }
  #season7{
	  background: #4c4c4c;
  }
  .well{
	  color: black;
  }
  #season6{
	  background: #777777;
  }
  #season5{
	  background: #4c4c4c;
  }
  #season4{
	  background: #777777;
  }
  #season3{
	background:  #4c4c4c;
  }
  #season2{
	  background: #777777;
  }
  #season1{
	  background: #4c4c4c;
  }
  footer{
	  background: #777777;
  }
  footer a{
	  color: black;
  }
  footer a:hover {
      color: white;
      text-decoration: none;